In [67]:
import pandas as pd
import numpy as np

###CÃ¢u 1:

In [68]:
ten_cot = ["Id", "Name", "Age", "Weight", "m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df = pd.read_csv("/content/patient_heart_rate.csv", names=ten_cot, header=0, on_bad_lines='skip')
df.head()

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
1  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
2  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
3  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4  6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72

###CÃ¢u 2:

In [69]:
df[['Firstname', 'Lastname']] = df['Name'].str.split(expand=True)
df.drop('Name', axis=1, inplace=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    ScÃ¶Ã¶py
7    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
7       NaN
8       NaN
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

###CÃ¢u 3:

In [70]:
weight = df['Weight']

for i in range(len(weight)):
    x = str(weight[i])

    if 'lbs' in x[:-3]:
      x = x[:-3]

      float_x = float(x)

      y = int(float_x/2.2)

      y = str(y) + " kgs"

      weight[i] = y

print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    ScÃ¶Ã¶py
7    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
8    NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
7       NaN
8       NaN
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

###CÃ¢u 4:

In [71]:
df.dropna(how='all', inplace=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    ScÃ¶Ã¶py
9    9.0  52.0      189lbs     -     -     -    68    75    72      Huey
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
9    McDuck
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

###CÃ¢u 5:

In [72]:
df.drop_duplicates(subset=['Firstname', 'Lastname', 'Age', 'Weight'], inplace=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -    ScÃ¶Ã¶py
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

###CÃ¢u 6:

In [73]:
df['Firstname'] = df['Firstname'].str.replace(r'[^\x00-\x7F]+', '', regex=True)
df['Lastname'] = df['Lastname'].str.replace(r'[^\x00-\x7F]+', '', regex=True)
print(df)

      Id   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1    3.0  16.0         NaN     -     -     -    65    69    72      Mini
2    4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3    5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4    6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5    7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6    8.0  32.0       78kgs    78    76    75     -     -     -      Scpy
10  10.0  12.0       45kgs     -     -     -    92    95    87     Louie
11  11.0   NaN       60kgs    78    75    72     -     -     -     Henry
12  12.0  34.0         NaN    65    67    55     -     -     -    Michel
13  13.0   NaN         NaN     -     -     -    68    72    70      Tana
14  15.0  52.0      180lbs     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

###CÃ¢u 7:

In [74]:
df['Weight'] = pd.to_numeric(df['Weight'].str.extract('(\d+)').iloc[:, 0], errors='coerce')
df['Age'].fillna(df['Age'].mean(), inplace=True)
df['Weight'].fillna(df['Weight'].mean(), inplace=True)
print(df)

      Id        Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname  \
0    2.0  34.000000  154.000000     -     -     -    85    84    76    Donald
1    3.0  16.000000  115.333333     -     -     -    65    69    72      Mini
2    4.0  33.888889   78.000000    78    79    72     -     -     -   Scrooge
3    5.0  54.000000  198.000000     -     -     -    69   NaN    75      Pink
4    6.0  52.000000  189.000000     -     -     -    68    75    72      Huey
5    7.0  19.000000   56.000000     -     -     -    71    78    75     Dewey
6    8.0  32.000000   78.000000    78    76    75     -     -     -      Scpy
10  10.0  12.000000   45.000000     -     -     -    92    95    87     Louie
11  11.0  33.888889   60.000000    78    75    72     -     -     -     Henry
12  12.0  34.000000  115.333333    65    67    55     -     -     -    Michel
13  13.0  33.888889  115.333333     -     -     -    68    72    70      Tana
14  15.0  52.000000  180.000000     -     -     -    68    75    72       NaN

   Lastname
0      Duck
1     Mouse
2    McDuck
3   Panther
4    McDuck
5    McDuck
6       Doo
10   McDuck
11      Nam
12     Long
13    Ricky
14      NaN

<ipython-input-74-17e7236b45a0>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
<ipython-input-74-17e7236b45a0>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight'].fillna(df['Weight'].mean(), inplace=True)

###CÃ¢u 8:

In [75]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'],
             value_name="PulseRate", var_name="sex_and_time").sort_values(
             ['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

tmp_df = df["sex_and_time"].str.extract(r'(\D)(\d)(\d{2})', expand=True)

tmp_df.columns = ["Sex", "hours_lower", "hours_upper"]

tmp_df["Time"] = tmp_df["hours_lower"] + "-" + tmp_df["hours_upper"]

df = pd.concat([df, tmp_df], axis=1)

df = df.drop(['sex_and_time', 'hours_lower', 'hours_upper'], axis=1)
df = df.dropna()

df.to_csv('outputcleanup.csv', index=False)

print(df)

      Id        Age      Weight Firstname Lastname PulseRate Sex  Time
0    2.0  34.000000  154.000000    Donald     Duck         -   m  0-00
12   2.0  34.000000  154.000000    Donald     Duck         -   m  0-61
24   2.0  34.000000  154.000000    Donald     Duck         -   m  1-21
36   2.0  34.000000  154.000000    Donald     Duck        85   f  0-00
48   2.0  34.000000  154.000000    Donald     Duck        84   f  0-61
..   ...        ...         ...       ...      ...       ...  ..   ...
22  13.0  33.888889  115.333333      Tana    Ricky         -   m  0-61
34  13.0  33.888889  115.333333      Tana    Ricky         -   m  1-21
46  13.0  33.888889  115.333333      Tana    Ricky        68   f  0-00
58  13.0  33.888889  115.333333      Tana    Ricky        72   f  0-61
70  13.0  33.888889  115.333333      Tana    Ricky        70   f  1-21

[65 rows x 8 columns]

###CÃ¢u 9:

In [76]:
def fill_missing_bp(row, column):
    if pd.isna(row[column]):
        previous_values = df[df['Id'] == row['Id']][column].dropna().values
        if len(previous_values) > 0:
            return np.mean(previous_values)
    return row[column]

df['PulseRate'] = df.apply(lambda row: fill_missing_bp(row, 'PulseRate'), axis=1)
print(df)

      Id        Age      Weight Firstname Lastname PulseRate Sex  Time
0    2.0  34.000000  154.000000    Donald     Duck         -   m  0-00
12   2.0  34.000000  154.000000    Donald     Duck         -   m  0-61
24   2.0  34.000000  154.000000    Donald     Duck         -   m  1-21
36   2.0  34.000000  154.000000    Donald     Duck        85   f  0-00
48   2.0  34.000000  154.000000    Donald     Duck        84   f  0-61
..   ...        ...         ...       ...      ...       ...  ..   ...
22  13.0  33.888889  115.333333      Tana    Ricky         -   m  0-61
34  13.0  33.888889  115.333333      Tana    Ricky         -   m  1-21
46  13.0  33.888889  115.333333      Tana    Ricky        68   f  0-00
58  13.0  33.888889  115.333333      Tana    Ricky        72   f  0-61
70  13.0  33.888889  115.333333      Tana    Ricky        70   f  1-21

[65 rows x 8 columns]

###CÃ¢u 10:

In [77]:
df.reset_index(drop=True, inplace=True)

df.to_csv("/content/patient_heart_rate_clean.csv", index=False)
print("Dá»¯ liá»u ÄÃ£ lÃ m sáº¡ch vÃ  lÆ°u vÃ o file patient_heart_rate_clean.csv")

Dá»¯ liá»u ÄÃ£ lÃ m sáº¡ch vÃ  lÆ°u vÃ o file patient_heart_rate_clean.csv